<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <form action="/searches" method="POST">
        <input type="text" placeholder="Enter title or author" name="choice"> 
        <label for="text">title<input type="radio" value="title" name="select"></label>
        <label for="author">author<input type="radio" value="author" name="select"></label>
        <button>Search The Google Books API</button>
         </form>
    
</body>
</html>